@import "bootstrap/dist/css/bootstrap.min.css";
@import "@fortawesome/fontawesome-free/css/all.min.css";

header{
    text-align: center;
    margin-bottom: 25px;
}

section {
    margin-bottom: 30px;
}

.avatar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
.add-avatar-btn {
    margin-left: 20px; /* Ajusta el margen izquierdo según sea necesario */
}

.swal2-html-container label {
    text-align: left;
    display: block;
    margin-bottom: 5px; /* Opcional: Agrega un poco de margen inferior para separar los elementos */
  }
  
.swal2-html-container input,
.swal2-html-container textarea {
    width: 100%; /* Opcional: Haz que los inputs y textareas ocupen todo el ancho disponible */
    margin: auto 0px;
    resize: none;
}   
  

.avatar {
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    margin: 20px auto;
}
  
.avatar-actions {
    position: absolute; 
    bottom: 10px; 
    right: 10px; 
}

.avatar-actions button {
    margin-left: 5px; 
}

.nations{
    margin: 30px auto 60px;
}

.avatar-img {
    flex: 0 0 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar-img img {
    width: auto;
    height: 250px;
}

.avatar-info {
    flex: 1;
    padding: 10px;
}

footer {
    background-color: #2b3035;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.nation-image {
    max-height: 279px; /* Define el tamaño mínimo de altura */
  }

@media only screen and (max-width: 990px) {
    h1 {
        font-size: 30px; 
    }

    .avatar-header {
        flex-direction: column;
      }
    
      .add-avatar-btn {
        margin-left: 0;
        margin-top: 10px; /* Ajusta el margen superior según sea necesario */
      }

    .avatar {
        flex-direction: column;
        align-items: flex-start;

    }

    .avatar-info {
        padding: 20px;
        text-align: justify;
    }

    .avatar-img {
        width: 100%;
        padding: 10px;
    }

    .avatar-img img {
        width: 100%;
        height: auto;
    }

    footer {
        font-size: 14px;
        padding-left: 0px;
    }
}
